/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----- END CSS RESET -----*/


body {
    color: #000305;
    font-size: 16px;
    line-height: 1.4em;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 82px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-size: 2em;
    margin: 0 0 1rem;
    line-height: 2rem;
}

img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

/*----- Old style -----*/

a   {
    text-decoration: none;
}

a:hover, a:visited {
    color: hotpink;
} 

a:hover, a:active {
    background-color: gainsboro;
    color: #333 !important;
    text-decoration: none !important;
    border-radius: 3px;
    padding: 1px 4px;
}

body {
    margin: 0 auto;
    clear: both;  
    position: relative;  
}

.mainHeader nav {
    background-color: gold;
    min-height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
}


.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
    background-color: orange;
    text-shadow: none;
}

/* styling the link */
.mainHeader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;   
}


/* Change the color of the topContent*/

.post-info {
    font-style: italic;
    color: #999;
    font-size: 90%;
}

/* must adjust the width togehter with margin and padding. Total is 30% */

/*----- Header -----*/
header.mainHeader {
    margin-bottom: 20px;
}

/*----- Sidebar styling -----*/
aside {
    background-color: #f1592a;
    border-radius: 5px;
    padding: 20px;
    margin: 0 0 20px;
    color: white;
}
aside a {
    color: white;
    text-decoration: underline;
}

/*----- Footer -----*/

.mainFooter {
    background-color: deepskyblue;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 20px;
    right: 0;
    text-align: center;
    color: white;
}

.mainFooter a {
    color: white;
    text-decoration: underline;
}

/*----- * { border: 1px dotted red; } -----*/

/*From here on it is something about making the website responsove, meaning that it will be desplayed correctly on mobile devices. */ 
/*----- @media only screen and (min-width: 150px) and (max-width: 600px) {
    
    body {
        background-size: contain 
        width: 90%;
        font-size: 95%;
    }
    
    .mainheader img {
        width: 100%;
    }
    
    .mainHeader nav {
        height: 160px; 
    }

    .mainHeader nav a:link, 
    .mainHeader nav a:visited {
        padding: 10px 25px;
        height: 20px;  
        display: block;
    }
    
    .content {
        width: 100%;
        float: left;
        margin-top: 2%;
    }
    
    .post-info {
        display: none;
    }
   
    .topContent {
        padding: 3% 5%;
        margin-top: 2px;
        margin-bottom: 3%;
    }
 
    .bottomContent {
        margin-top: 3%;
    }

    .top-sidebar, .middle-sidebar, .bottom-sidebar {
        width: 94%;
        margin: 2% 0 2% 0;
        padding: 2% 3%; 
    }

} -----*/
    

/*----- NEW STYLE -----*/

/*----- Wrapper Hvor alt indhold er udover footeren -----*/
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}


ul {
    padding: 0;
}

/*----- Menu -----*/
.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu ul {
    margin: 0 auto;
}
.menu li {
    list-style: none;
    flex-grow: 1;
}
.menu li a {
    display: block;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 25px;
    height: 20px;    
}

.logo {
    text-align: center;
    margin-top: 20px;
}
.logo a {
    display: block;
}
.logo a:hover,
.logo a:focus {
    background-color: transparent;
}

.homeLogo {
    width: 160px;
    height: auto;
}


/*----- Main content -----*/
.mainContent,
.content {
    border-radius: 5px;
    -moz-border-radius 5px;
    -webkit-border-radius 5px;  
}

.mainContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.content {
    margin-right: 20px;    
}

.sidebar {
    min-width: 260px;
    max-width: 340px;
}

.content article {
    margin-bottom: 20px;
    background-color: gainsboro;
    border-radius: 5px;
    -moz-border-radius 5px;
    -webkit-border-radius 5px;  
    padding: 20px;
}

/*----- Footer -----*/
footer.mainFooter {

}

/*----- Cool transition/animation effect -----*/
.trans, .trans *, a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

@media only screen and (max-width: 680px) {

    .mainContent {
        flex-wrap: wrap;
    }
    .content {
        margin-right: 0;
    }
    .sidebar {
        max-width: 100%;
    }

}

    